:root {
    --bg-color: black;
    --primary-color: white;
    --secondary-color: dimgrey;

    --visited-color: purple;
    --hover-color: #0F0;

    --font-family: "DejaVu Serif", serif;
}

a:hover {
    color: var(--hover-color);
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    color: var(--primary-color);
    background: var(--bg-color);
    font-family: var(--font-family);

    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

body>* {
    margin: 10px;
}

/*set h1 to always be the same (rather than change size depending on what it's in*/
h1 {
    font-size: 2em;
    margin-block: 0.67em;
}

#main-content {
    flex-grow: 1;
    height: 0;
    padding: 10px;
    border: 3px ridge;
    overflow: scroll;
}

#under-construction-img {
    width: 25%;
    min-width: 250px;
    max-width: 1000px;
    image-rendering: crisp-edges;
}

#header, #footer {
    flex-grow: 0;
    height: fit-content;
    max-height: 10%;
    overflow: scroll;
}

#header {
    margin-bottom: 0;
    padding-bottom: 5px;
    padding: 0 0;
    border: 2px outset;

    .horizontal-list li {
        padding: 5px 0;

        a {
            padding: 5px 10px;
            text-decoration: none;
            color: var(--primary-color);
        }

        #current-nav-tab {
            background: var(--secondary-color);
        }

        :hover {
            background: var(--hover-color);
            color: var(--bg-color);
        }
    }
}

#footer {
    border-top: 1px solid;
    padding-top: 10px;
    margin-top: 5px;

    p {
        float: left;
        padding-right: 10px;
        margin: 0;
        border-right: 1px solid;
    }
}

.horizontal-list {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
        padding: 0 10px;
        width: fit-content;
        float: left;
        border-right: 1px solid;
    }
}

